.skillsContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 150px;
  gap: 50px;
}

.skillsImage img {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.skillsText {
  flex: 1;
  max-width: 600px;
  font-size: 18px;
  color: #343a40;
}

.skillsText h3 {
  font-size: 28px;
  margin-top: 40px;
  color: #212529;
}

.skillsText p {
  font-size: 20px;
  color: #868e96;
  margin-bottom: 30px;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;

}

/* Icon Layout */
.skillsIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 10px;
}

.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #868e96;
  font-size: 60px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.iconBox span {
  font-size: 18px;
  color: #495057;
  font-family: 'Poppins', sans-serif;
}

.iconBox:hover {
  color:#55198b;

}

