body.dark-mode {
  background-color: #121212;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
}


